---

---

<section
  class="pt-24 sm:pt-32 md:pt-40 min-h-screen text-white px-8 md:px-12 lg:px-24 py-20"
>
  <div class="text-center max-w-3xl mx-auto mb-12 md:mb-20">
    <h1 class="text-4xl md:text-6xl font-medium mb-4 md:mb-6">
      <span id="price-typed-text"></span>
    </h1>
    <p class="text-lg md:text-xl text-gray-300 mb-6 md:mb-8">
      Join 1000+ students
    </p>
  </div>

  <div class="max-w-7xl mx-auto grid lg:grid-cols-3 gap-8">
    <div
      class="bg-gray-800/50 backdrop-blur-xl rounded-3xl p-6 md:p-8 border border-gray-700"
    >
      <h3 class="text-xl md:text-2xl font-medium mb-3 md:mb-4">Jemari</h3>
      <p class="text-gray-400 mb-4 md:mb-6 leading-relaxed">
        <span class="font-bold">ለሚጠራጠሩት!</span>
        <br />For those who maybe skeptical of METT and want to take a
        test-drive.
      </p>

      <div class="mb-6 md:mb-8">
        <div class="flex items-center justify-between mb-4">
          <span class="text-3xl md:text-4xl font-medium">Birr 0</span>
          <span class="text-gray-400">/month</span>
        </div>
      </div>

      <ul class="space-y-3 md:space-y-4 mb-6 md:mb-8">
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          2 Test-Paths
        </li>
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          2 Study Guides
        </li>
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          2 Subjects - Upto 50 Concepts
        </li>
      </ul>

      <div class="w-full flex">
        <a
          href="https://account.memhiret.com"
          target="_blank"
          class="w-full bg-white text-black text-center rounded-md py-2.5 md:py-3 font-medium hover:bg-gray-100 transition-all text-sm md:text-base"
        >
          Get started
        </a>
      </div>
    </div>

    <div
      class="bg-gray-800/50 backdrop-blur-xl rounded-3xl p-6 md:p-8 border border-memhirETBlue-500 relative md:transform md:scale-105"
    >
      <div
        class="absolute -top-4 left-1/2 -translate-x-1/2 bg-memhirETBlue-500 text-xs md:text-sm rounded-full px-3 md:px-4 py-1"
      >
        Most popular
      </div>
      <h3 class="text-xl md:text-2xl font-medium mb-3 md:mb-4">Wesagn</h3>
      <p class="text-gray-400 mb-4 md:mb-6 leading-relaxed">
        <span class="font-bold">ለወሳኞቹ!</span>
        <br />For those who are committed to excelling in their education.
      </p>

      <div class="mb-6 md:mb-8">
        <div class="flex items-center justify-between mb-4">
          <span class="text-3xl md:text-4xl font-medium">Birr 350</span>
          <span class="text-gray-400">/month</span>
        </div>

        <div class="space-y-2 bg-gray-900/50 rounded-xl p-3 md:p-4">
          <div class="flex justify-between items-center text-xs md:text-sm">
            <span class="text-gray-300">Quarterly</span>
            <div class="text-right">
              <span class="text-white font-medium">Birr 950</span>
              <span class="text-gray-400 text-xs">/quarter</span>
            </div>
          </div>

          <div class="flex justify-between items-center text-xs md:text-sm">
            <span class="text-gray-300">Semi-Annual</span>
            <div class="text-right">
              <span class="text-white font-medium">Birr 1,800</span>
              <span class="text-gray-400 text-xs">/6 months</span>
            </div>
          </div>

          <div class="flex justify-between items-center text-xs md:text-sm">
            <span class="text-gray-300">Yearly</span>
            <div class="text-right">
              <span class="text-white font-medium">Birr 3,500</span>
              <span class="text-gray-400 text-xs">/year</span>
            </div>
          </div>
        </div>
      </div>

      <ul class="space-y-3 md:space-y-4 mb-6 md:mb-8">
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          Unlimited Test-Paths and Study Guides
        </li>
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          Unlimited Subjects, Topics and Concepts
        </li>
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          Detailed Performance Analysis
        </li>
      </ul>

      <div class="w-full flex">
        <a
          href="https://account.memhiret.com"
          target="_blank"
          class="w-full bg-memhirETBlue-500 text-center text-white rounded-md py-2.5 md:py-3 font-medium hover:bg-memhirETBlue-700 transition-all text-sm md:text-base"
        >
          Get started
        </a>
      </div>
    </div>

    <div
      class="bg-gray-800/50 backdrop-blur-xl rounded-3xl p-6 md:p-8 border border-gray-700"
    >
      <h3 class="text-xl md:text-2xl font-medium mb-3 md:mb-4">Enterprise</h3>
      <p class="text-gray-400 mb-4 md:mb-6">Custom solutions for schools</p>
      <div class="mb-6 md:mb-8">
        <span class="text-3xl md:text-4xl font-medium">Custom</span>
      </div>
      <ul class="space-y-3 md:space-y-4 mb-6 md:mb-8">
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          Custom integration and onboarding
        </li>
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          Customized Content
        </li>
        <li class="flex items-center">
          <svg
            class="w-5 h-5 mr-3 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
          Direct Support
        </li>
      </ul>
      <div class="w-full flex">
        <a
          href="/coming-soon"
        class="w-full bg-white text-center text-black rounded-md py-2.5 md:py-3 font-medium hover:bg-gray-100 transition-all text-sm md:text-base"
      >
          Contact sales
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  import Typed from "typed.js";

  new Typed("#price-typed-text", {
    strings: ["Simple and Straightforward Pricing"],
    typeSpeed: 50,
    showCursor: true,
    cursorChar: "|",
    loop: false,
  });
</script>
