---

---

<section class="text-white py-8 lg:py-16">
  <div class="mx-auto px-8 md:px-12 lg:px-24">
    <div class="text-left mb-12 space-y-8">
      <p class="text-gray-400 text-sm tracking-wider uppercase">Value</p>
      <h2 class="text-4xl md:text-5xl mb-4">How is METT different?</h2>
      <p
        class="text-gray-300 font-light text-base md:text-xl leading-relaxed max-w-2xl"
      >
        METT provides more than the minimum threshold. As a personalized
        e-learning platform, METT caters to your specific needs and goals.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="flex items-start space-x-4">
        <div class="flex-shrink-0">
          <svg
            class="w-8 h-8 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
        </div>
        <div>
          <h3 class="text-lg font-medium">Personalized Learning Paths</h3>
          <p class="text-gray-400">Tailored to your needs and goals.</p>
        </div>
      </div>
      <div class="flex items-start space-x-4">
        <div class="flex-shrink-0">
          <svg
            class="w-8 h-8 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
        </div>
        <div>
          <h3 class="text-lg font-medium">Interactive Tools</h3>
          <p class="text-gray-400">Engaging and interactive learning.</p>
        </div>
      </div>
      <div class="flex items-start space-x-4">
        <div class="flex-shrink-0">
          <svg
            class="w-8 h-8 text-green-500"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7"></path>
          </svg>
        </div>
        <div>
          <h3 class="text-lg font-medium">Rounded Ecosystem</h3>
          <p class="text-gray-400">
            A suite of tools to support your learning journey.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
